body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}
#mainFrame{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#videoMask{
    border-radius: 10px; 
    overflow: hidden;
    margin: 30px;
    box-sizing: border-box;
}

#camLiveDiv{
    position: relative;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5)
}

#mainVideo{
    position: relative;
    box-sizing: border-box;
    display: none;
}

#waiting{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.box {
    position: absolute;
    border-radius: 5px;
    background-color: rgb(222 234 255 / 50%);
    color: black;
}

.label {
    position: absolute;
    background-color: #e9eaff;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

#changeCam{
    padding: 20px;
    font-weight: 600;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    display: none;
}
