body {
    margin: 0;
}
#mainFrame{
    width: 100%;
    height: 100%;
    position: relative;
}
#mainVideo{
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    display: none;
}

#waiting{
    width: 100%;
    text-align: center;
}

.box {
    background-color: rgba(166, 195, 99, 0.713);
    position: absolute;
}
